@import url('https://fonts.googleapis.com/css?family=Spartan:400,700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Spartan', sans-serif;
    background-color: rgb(134, 199, 134);
}

html {
scroll-behavior: smooth;
}

/*HEADER*/

header{
    padding: 3% 10% 10px 10%;
    border-bottom: 1px solid rgb(63, 146, 63);
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: white;
    
}
header img{
    width:100px;
    padding-right: 10%;
}
header a{
    text-decoration: none;
    color: green;
    padding:0px 5% 0px 5% ;
}
header a:hover{
    font-weight: bold;
    color: rgb(5, 77, 5);
}
/*BODY*/
#body{
    padding: 2%;
    margin-top: 11.7%;
    
}

#body .geral{
    border-bottom:1px solid rgb(63, 146, 63);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    margin:10%;
}


#body .geral img{
    width: 50px;
    margin-left: 20%;
}
#body .geral p{
    margin-bottom: 3%;
    margin-left: -60%;
    margin-right: 2%;
}
#body .gg-color-bucket{
    float: right;
    margin-right: 3%;
    margin-top: 2%;
}